In [1]:
a=10

In [2]:
if a<15 :
    print("a= ",a)
    pass

a=  10

In [3]:
a<15

True

In [4]:
if a<16:
    pass

In [5]:
if 24<14:
    print("My name is Krish")

In [6]:
if 10>5:
    print("10 is less then 5")
else:
    print(" The statement is wrong")

10 is less then 5

In [7]:
income =int(input())
if income<50 :
    print("I can buy a phone")
elif income<70 :
    print("I can buy a car")
elif income<90 :
    print("I can buy a house")
else:
    print("I can go abroad")

 30

I can buy a phone

In [8]:
Total_price=int(input())
if Total_price > 20000:
    discount=Total_price*.2
elif Total_price >=7000:
    discount=Total_price*.05
else:
    discount=0
print("Final_cost= ",Total_price-discount, " and discount= ", discount)

 15000

Final_cost=  14250.0  and discount=  750.0

In [9]:
"sudh" == "sudh"

True

In [10]:
coup=input()
cost=25000
if coup=="SUDH5":
    print(" You will be able to get a discount of 5%")
    print("YOUR TOTAL COST WILL BE ",cost-cost*0.05)
else:
    print("Please enter a valid code")

 sddf

Please enter a valid code

In [11]:
study_hour=int(input())
if(study_hour<1):
    print("It will take more than 9months to complete the course")
elif study_hour>1 and study_hour<4:
    print("It will take 6months to make a transition")
elif study_hour>4 :
    print(" It will take 3months to make a transition")
else:
    print("It will be difficult to complete a transition")

 5

 It will take 3months to make a transition

In [12]:
a=9
if a==9: print("valid")

valid

In [13]:
s=input("enter a string to start")
course=input("enter a course name")
servise=input("enter your service required")
if s== "oneneuron" :
    if course== "DSA":
        print("Yes, it's available")
    elif course== "BlockChain":
        print("Currently it's not available, please raise on demand course")
    else:
        print("Please raise a on demand request to look into it")
elif s=="oneneuronservice":
    if service== "courserequest":
        print(" you are raising a new course, we are looking into it")
    elif service== "module":
        print(" you are raising issue on module, we are looking into it")
    elif service== "doubt":
        print(" you are raising a doubt, we are looking into it")
    else:
        print("Kindly provide us a proper input")
else:
    print("COnnect with our team")

enter a string to start "oneneuron
enter a course name sdifj
enter your service required fjiwq

COnnect with our team

# While

In [14]:
l=[1,2,3,4,5,56,6,7]

In [16]:
for i in l:
    print(i)

1
2
3
4
5
56
6
7

In [17]:
s="Krishna"
for i in s:
    print(i)

K
r
i
s
h
n
a

In [20]:
t=(2.35,"Sudh",.5,234,345,True,5+4j)

In [21]:
for i in t:
    print(i)

2.35
Sudh
0.5
234
345
True
(5+4j)

In [24]:
l=[12,3.4,True,7+23j,"Krishna",(23,2356,1,"sidh"),{}]

In [25]:
for i in l:
    print(type(i))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'complex'>
<class 'str'>
<class 'tuple'>
<class 'dict'>

In [26]:
t=(1.32,21,234.43,32,4)

In [27]:
for i in t:
    print(i+2)

3.3200000000000003
23
236.43
34
6

In [30]:
l=[1.32,21,234.43,32,4]
l2=[]

In [31]:
for i in l:
    print(i+2)
    l2.append(i+2)

3.3200000000000003
23
236.43
34
6

In [32]:
l2

[3.3200000000000003, 23, 236.43, 34, 6]

In [9]:
l=[1,34,565,"Sid",4+58j,True,43,67,[23,23,43,13,"ad"]]

In [11]:
for i in l:
    if type(i) is int :
        print(i)
    elif type(i) == list:
        for j in i:
            if type(j) == int:
                print(j)

1
34
565
43
67
23
23
43
13

q1: try to print index of all the elements
q2: try to extract all the list of char if element is string
q3: try to return a list after doing a square of all integers

In [20]:
for i in range(len(l)):
    print("Index of ",l[i]," is ", i)

Index of  1  is  0
Index of  34  is  1
Index of  565  is  2
Index of  Sid  is  3
Index of  (4+58j)  is  4
Index of  True  is  5
Index of  43  is  6
Index of  67  is  7
Index of  [23, 23, 43, 13, 'ad']  is  8

In [23]:
l2=[]
for i in l:
    if type(i) == str:
        l2.append(i)
    elif type(i) in (list,tuple,set):
        for j in i:
            if type(j) == str:
                l2.append(j)
for i in l2:
    for j in i:
        print(j)

S
i
d
a
d

In [18]:
l2=[]
for i in l:
    if type(i) == int:
        l2.append(i*i)
    else:
        l2.append(i)
l2

[1, 1156, 319225, 'Sid', (4+58j), True, 1849, 4489, [23, 23, 43, 13, 'ad']]

In [22]:
for i,j in enumerate(l):
    print(i," ",j)

0   1
1   34
2   565
3   Sid
4   (4+58j)
5   True
6   43
7   67
8   [23, 23, 43, 13, 'ad']